<div ng-controller="NoteController as noteController" style="border: 1px solid blue; margin: 10px; padding: 5px;">
    
	<h1>Note</h1>

	<div>
		<h2>Form</h2>
		
		<div ng-show="editMode">
			<label> --- Edit mode --- </label>
			<br/>
		</div>
	
 	<label>Description</label>
 	<input type="text" ng-model="txtDescription" placeholder="(description)">
 	<br/>
 	
 	<label>Note</label>
 	<textarea rows="5" cols="20" ng-model="txtNote" placeholder="(note)"></textarea>
 	<br/>
 	
 	<button ng-show="!editMode" ng-click="noteController.save()">Save</button>
 	<button ng-show="editMode" ng-click="noteController.update()">Update</button>
 	<button ng-click="noteController.cancel()">Cancel</button>
 	<button ng-click="noteController.loadNotes()">Refresh</button>
	</div>
	
	<br/>
	
	<div>
		
		<h2>List</h2>
		
	 	<div class="grid">
	 		<div class="note" ng-repeat="note in notes" style="border: 1px dotted yellow;">
	 			<b>{{note.description}}</b>
	 			<span>{{note.note}}</span>
	 		</div>
	 	</div>
 	
	</div>
	
	<a href="/#/user">back</a>
	
</div>