<div ng-controller="UserController as userController" style="border: 1px solid black; margin: 10px; padding: 5px;">
    
   	<h1>User</h1>
   
   	<div>
   		<h2>Form</h2>
   		
   		<div ng-show="editMode">
   			<label> --- Edit mode --- </label>
   			<br/>
   		</div>
   	
    	<label>Login</label>
    	<input type="text" ng-model="txtLogin" placeholder="(login)" required>
    	<br/>
    	
    	<label>Name</label>
    	<input type="text" ng-model="txtName" placeholder="(name)" required>
    	<br/>
    	
    	<label>Email</label>
    	<input type="text" ng-model="txtEmail" placeholder="(email)" required>
    	<br/>
    	
    	<label>Password</label>
    	<input type="password" ng-model="txtPassword" required>
    	
    	<button ng-show="!editMode" ng-click="userController.save()">Save</button>
    	<button ng-show="editMode" ng-click="userController.update()">Update</button>
    	<button ng-click="userController.cancel()">Cancel</button>
    	<button ng-click="userController.loadUsers()">Refresh</button>
    	
   	</div>
   	
   	<br/>
   	
   	<div>
   		
   		<h2>List</h2>
   		
    	<ul>
    		<li ng-repeat="user in users">
    			login: {{user.login}}, name: {{user.name}}, email: {{user.email}} 
    			<button ng-click="userController.set(user.id)">Set</button>
    			<button ng-click="userController.load(user)">Load</button>
    			<button ng-click="userController.delete(user.id)">Delete</button>
    		</li>
    	</ul>
   	</div>
   	
   </div>